ion-content{
  background:#596854;
  background-image: url('https://cdn.jsdelivr.net/gh/antonio10202004/EMTECH-PE@master/Fitness%20Way%20(1).png');
  background-size: contain;
  background-position: center;
  background-repeat:no-repeat;
}
p{
color: #CC9A52;
}
ion-card{
  background:#596854
}
ion-card-title{
  color: #CC9A52;
  font-family:roxboroughCF
}
button{
  background: #596854;
  color:#CC9A52;
  font-family:roxboroughCF
}
ion-item{
  background: #505e4b;
  color:#CC9A52;
  font-family:roxboroughCF
}
ion-input{
  color:#CC9A52;
  font-family:roxboroughCF
}
ion-label{
  font-family:roxboroughCF
}
