ion-content{
 background:  #596854
}
img{
  width: auto;
  margin: auto;
  display: block;
}
ion-card-title{
  color: #CC9A52;
  font-family:roxboroughCF
}
p{
color: #CC9A52;
font-family:roxboroughCF
}
ion-card{
  background:#596854
}